section#expensive {
    margin: 100px 0;
    // background-image: url('../images/bg_s6.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain; 
    .container {
        .left_block {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 999 !important;
            padding: 10px;

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #111111;
            }
            .price {
                h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 72px;
                    text-align: center;
                    letter-spacing: 0.8px;
                    color: #111111;
                    margin-bottom: 0;
                }
            }
            .form_try_it_now {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                .form_block {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    .form-group {
                        button {
                            width: 150px !important;
                        }
                    }
                }
            }

            .plugin {
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                margin-bottom: 50px;
                h6 {
                    display: flex;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #111111;
                    margin-bottom: 20px;
                    
                    span {
                        width: 25px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 20px;
                        img {
                            max-width: 100%;
                            // max-height: 100%;
                        }
                    }

                }
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 65%;
                content: "";
                background: #FEFAF7;
                z-index: -1;
            }
        }
        .section_title {
            h1 {
                span {
                    background: #EFDFFD !important;
                }
            }
        }
        .message {
            margin-top: 50px;
            position: relative !important;
        }
    }
}