section#contact {
    padding: 100px 0;
    // background-image: url('../images/bg_s8.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.2px;        
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .form_try_it_now {
        width: 100%;
        .form_block {
            background: rgb(105, 105, 105);
            .form-group {
                input {
                    color: #fff !important;
                    &::-webkit-input-placeholder { /* Edge */
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
                button {
                    width: 170px;
                }
            }
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 38px;
            line-height: 48px;
            text-align: start;
            margin-bottom: 0;
        }
    }
    @media (min-width: 992px) {
        h1 {
            font-size: 50px;
            line-height: 60px;
            padding: 0 30px;
        }
        .form_try_it_now {
            max-width: 400px;
            margin-right: 0;
            margin-left: auto;
        }
    }
}