section#testimonial {
    margin-bottom: 100px;
    .container {
        .img_block {
            position: relative;
            padding-left: 80px;
            padding-bottom: 90px;
            img {
                max-width: 100%;
            }

            .pa_img {
                position: absolute;
                width: 90%;
                bottom: 0;
                left: 0;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}