section#section_7 {
    background-image: url('../images/bg_s7.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding-bottom: 100px;
    .title {
        margin-bottom: 50px;
        h1 {
            font-style: normal;
            font-weight: 500;
            font-size: 58px;
            line-height: 68px;
            text-align: center;
            letter-spacing: 1.2px;
            color: #111111;
            margin-bottom: 30px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 36px;
            color: #111111;
            margin-bottom: 30px;
            span {
                background: #EFDFFD;
            }
        }
    }
    .img_block {
        img {
            width: 100% !important;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            text-align: center;
            line-height: 19px;
            color: #111111;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                color: #000 !important;
                font-size: 500 !important;
            }
        }
    }
}